.logo-image {
    max-width: 75%;
    height: auto;
}

body {
    background-image: url('../bilder/Hintergrundfürwebseite.jpg');
    background-size: 3000px;
    background-repeat: no-repeat;
    background-position: center;
    /* Weitere CSS-Eigenschaften für den Hintergrund */
}

.kontakt {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    width: auto;
    text-align: left;
    z-index: 1000;
}

.grauerhintergrund {
    color: rgb(227, 232, 255);
    margin: 0px;
    background-color: rgb(160, 160, 160, 0.5);
}

#titletextfield {
    text-align: center;
}